{% extends 'base.html' %}

{% block head %}
<title>Lorem Ipsum</title>
{% endblock %}

{% block content %}
<h1 id="lorem-ipsum" class="chapter"><a href="#lorem-ipsum">Lorem Ipsum</a></h1>
<h4><time datetime="2025-01-23T18:41:03Z">January 23th 2025</time></h4>
<hr>

<p><a href="https://www.lipsum.com" target="_blank">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nulla mattis, est et laoreet efficitur, nisi leo volutpat nibh, et rutrum erat urna vel nisl. Aenean sodales lorem quis dolor sodales, at convallis purus convallis. Nam interdum tincidunt nunc, sed molestie lectus. Integer a rhoncus enim, eu cursus lacus.</p>

<p>Donec dignissim consequat augue mattis ornare. Vivamus feugiat odio in sagittis consectetur. Proin nec suscipit dolor, ut consectetur nisi. Aliquam ut ex dapibus, volutpat justo sit amet, dignissim tellus. Curabitur placerat tempor neque congue sollicitudin. Praesent elementum in ligula id semper.</p>

{% endblock %}