<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
</head>
<body>
    <textarea id="code" spellcheck="false" placeholder="<!DOCTYPE html>"></textarea>
    <iframe id="preview" width="100%" height="100%"></iframe>
    <div class="switch-container">
        <label for="previewSwitch">Preview</label>
        <input type="checkbox" id="previewSwitch">
    </div>
    <script src="{{ url_for('static', filename='editor.js') }}"></script>
</body>
</html>